
<div id="lista_cartas">
<table class="display compact order-column table-fixed" style="width: 100%;">
            <thead class="bg-ip-main">
                <tr>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        N. Série
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Part Number
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Fabricante
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                            Sistema
                        </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Board Type
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Descrição
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Estado
                    </span>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Localização
                    </span>
                    </th>
                    <th class=" bg-ipt-main text-white px-6 py-1">
                        <span class="flex items-center">
                        Equipamento
                    </span>
                    </th>

                </tr>

            </thead>



            <tbody>
                {% if cartas %}
                    {% for carta in cartas %}
                            <tr class=" bg-white text-gray-950 border-b border-gray-200 hover:bg-green-200">

                                <td scope="row" class="px-3 py-1 text-xs whitespace-nowrap">

                                    <a class="btn btn-success btn-sm" href="{% url 'editar_carta' carta.id %}">{{carta.serial_number}}</a>
                                            
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{carta.part_number}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{carta.fabricante}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{carta.sistema}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{carta.b_type}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{carta.descricao}}
                                </td>                        
                                <td class="px-3 py-1 text-xs">
                                    {{carta.estado}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{carta.localizacao}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{carta.equipamento}}
                                </td>

                            </tr>

                            
   
                    {% endfor %}
                {% endif %}
            </tbody>
         </table>
<div class="flex justify-center space-x-3 mt-4 mb-4">
{% if cartas.has_previous %}
    <button
        type="button"
        hx-post="{% url 'lista_cartas' %}"
        hx-vals='{"page": "{{ cartas.previous_page_number }}"}'
        hx-include="#cartas-form"
        hx-target="#lista_cartas"
        hx-push-url="true"
        class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
        style= "cursor:pointer"
    >
        &laquo;
    </button>
{% else %}
        <button
            type="button"
            hx-include="#cartas-form"
            hx-target="#lista_cartas"
            hx-push-url="true"
            class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
            disabled
        >
            &laquo;
        </button>
{% endif %}

    {% for i in paginas %}
        {% if cartas.number == i %}
            <button type="button" hx-post="{% url 'lista_cartas' %}" hx-vals='{"page": "{{ i }}"}' hx-include="#cartas-form" hx-target="#lista_cartas" hx-push-url="true" class="m-1 text-xs bg-ipt-main text-ipp-main border-ip-main hover:bg-ip-main rounded-sm p-1 border" style="cursor:pointer">
                <p class="font-bold text-ipp-main">{{ i }}</p>
            </button>
        {% else %}
            {% if i == cartas.paginator.ELLIPSIS %}
             <button
                type="button"
                class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
            >
                {{ i }}
            </button>
            {% else %}
                <button
                    type="button"
                    hx-post="{% url 'lista_cartas' %}"
                    hx-vals='{"page": "{{ i }}"}'
                    hx-include="#cartas-form"
                    hx-target="#lista_cartas"
                    hx-push-url="true"
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
                    style= "cursor:pointer"
                >
                    {{i}}
                </button>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if cartas.has_next %}
                <button
                    type="button"
                    hx-post="{% url 'lista_cartas' %}"
                    hx-include="#cartas-form"
                    hx-target="#lista_cartas"
                    hx-push-url="true"
                    hx-vals='{"page": "{{ cartas.next_page_number }}"}'
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
                    style= "cursor:pointer"
                >
                    &raquo;
                </button>
    {% else %}
                <button
                    type="button"

                    hx-include="#cartas-form"
                    hx-target="#lista_cartas"
                    hx-push-url="true"
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
                    disabled
                >
                    &raquo;
                </button>
    {% endif %}
</div>
</div>