<div class="p-4 overflow-x-auto ">
        <table id="lista_cartas" class="display compact order-column table-fixed" style="width: 100%;">
            <thead class="bg-ip-main">
                <tr>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        N. Série
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Part Number
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Fabricante
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                            Sistema
                        </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Board Type
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Descrição
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Estado
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Localização
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white px-6 py-3">
                        <span class="flex items-center">
                        Equipamento
                    </span>
                    </th>

                </tr>
            </thead>


            <tbody>
                {% if cartas %}
                    {% for carta in cartas %}
                            <tr class=" bg-white text-gray-950 border-b border-gray-200 hover:bg-green-200">

                                <td scope="row" class="px-3 py-1 text-sm whitespace-nowrap">

                                    <a class="btn btn-success btn-sm" href="{% url 'editar_carta' carta.id %}">{{carta.serial_number}}</a>
                                            
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{carta.part_number}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{carta.fabricante}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{carta.sistema}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{carta.b_type}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{carta.descricao}}
                                </td>                        
                                <td class="px-3 py-1 text-xs">
                                    {{carta.estado}}
                                </td>                                
                                <td class="px-3 py-1 text-sm">
                                    {{carta.localizacao}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{carta.equipamento}}
                                </td>

                            </tr>

                            
   
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>