{% extends 'base.html' %}

{% block content %}


    <!-- Nova tabela -->
    <div class="container my-4 min-w-full">
    
        <table id="lista-circuitos" class="w-full  text-sm  text-gray-500">
            <thead class="text-xs text-white uppercase bg-ipt-main">
                <tr>
                    <th scope="col" class="px-3 py-3">
                        <span class="flex items-center">
                        Nº Circuito<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </span>

                    </th>
                    <th scope="col" class="px-3 py-3 whitespace-nowrap">
                        <span class="flex items-center">
                        Data Rate<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                        </span>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Cliente<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Estado<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Entidade PTR1<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Morada PTR1<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Entidade PTR2<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Morada PTR2<svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if circuitos %}
                    {% for circuito in circuitos %}
                        {% if "Activo" in circuito.Estado_Cct %}
                            <tr class=" bg-white text-gray-950 border-b border-gray-200 hover:bg-green-200">
                        {% else %}
                            <tr class=" bg-white text-gray-700 border-b border-gray-200 hover:bg-slate-200">
                        {% endif %}
                                <td scope="row" class="px-3 py-1 font-medium whitespace-nowrap">
                                    <a class="btn btn-success btn-sm" href="{% url 'editar_circuito' circuito.id %}">{{circuito.N_Circuito}}</a>
                                            
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Data_Rate}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.User_Cct}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Estado_Cct}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Entidade_PTR1}}
                                </td>                        
                                <td class="px-3 py-1 text-xs">
                                    {{circuito.Morada_PTR1}}
                                </td>                                
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Entidade_PTR2}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{circuito.Morada_PTR2}}
                                </td>


                            </tr>

                            
   
                    {% endfor %}
                {% endif %}
            </tbody>
            </table>
            
        
</div>


<!-- Modal Structure -->

<script>


if (document.getElementById("lista-circuitos") && typeof simpleDatatables.DataTable !== 'undefined') {
    const dataTable = new simpleDatatables.DataTable("#lista-circuitos", {
        sortable: true,
        searchable: true,
        paging: true,
        perPage: 10,
        perPageSelect: [5, 10, 15, 20, 25],
        firstLast: true,
        prevNext: true,
    });
}
</script>



{% endblock %}