{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="w-full flex justify-end">
        <button type="button" class="m-2 px-6 py-2 bg-ipt-main text-white rounded-md hover:bg-ip-main"><a href="{% url 'criar_circuito' %}">Novo circuito</a></button>
                
    </div>
    <!-- Nova tabela -->
    <div>
        <table id="lista_circuitos" class="display compact order-column table-fixed" style="display:none">
            <thead class="bg-ip-main">
                <tr>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Nº Circuito
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Data Rate
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                            Cliente
                        </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Estado
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Entidade PTR1
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Morada PTR1
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Entidade PTR2
                    </span>
                    </th>
                    <th class="text-sm bg-ipt-main text-white">
                        <span class="flex items-center">
                        Morada PTR2
                    </span>
                    </th>

                </tr>
            </thead>


            <tbody>
                {% if circuitos %}
                    {% for circuito in circuitos %}
                        {% if "Activo" in circuito.Estado_Cct %}
                            <tr class=" bg-white text-gray-950 border-b border-gray-200 hover:bg-green-200">
                        {% else %}
                            <tr class=" bg-white text-gray-700 border-b border-gray-200 hover:bg-slate-200">
                        {% endif %}
                                <td scope="row" class="px-3 py-1 text-sm whitespace-nowrap">
                                    
                                    <a class="btn btn-success btn-sm" href="{% url 'editar_circuito' circuito.id %}">{{circuito.N_Circuito}}</a>
                                            
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Data_Rate}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.User_Cct}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Estado_Cct}}
                                </td>
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Entidade_PTR1}}
                                </td>                        
                                <td class="px-3 py-1 text-xs">
                                    {{circuito.Morada_PTR1}}
                                </td>                                
                                <td class="px-3 py-1 text-sm">
                                    {{circuito.Entidade_PTR2}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{circuito.Morada_PTR2}}
                                </td>

                            </tr>

                            
   
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
        <script>

 

            let table = new simpleDatatables.DataTable("#lista_circuitos", {
                deferRender: true,
                searchable: true,
                paging: true,
                perPage: 20,
                perPageSelect: [5, 10, 15, 20, 25],
                sortable: true,
                sortable: true,
                orderClasses: false,
                
            });
            $('#lista_circuitos').show();
        </script>
    




{% endblock %}