{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="circuitos-form"
        hx-post="{% url 'lista_cct' %}"
        hx-target="#lista_circuitos"
        hx-push-url="true">

    <!-- Nova tabela -->
    <div class=" p-4 flex justify-between">
        {% csrf_token %}
        <div>
        <span class=" items-center justify-center">
        <input type="text" name="search" placeholder="Pesquisar..." class="text-xs items-center border justify-center border-gray-300 rounded-md p-2 w-1/3" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner">
        </span>
        </div>
        <div>
            <select name="per_page" class="text-xs border border-gray-300 rounded-md" 
                hx-post="{% url 'lista_cct' %}" 
                hx-target="#lista_circuitos" 
                hx-swap="innerHTML"
                hx-trigger="change"
                hx-indicator="#spinner">
                <option class="text-xs" value="10" {% if request.GET.per_page == "10" %}selected{% endif %}>10 por página</option>
                <option class="text-xs" value="25" {% if request.GET.per_page == "25" %}selected{% endif %}>25 por página</option>
                <option class="text-xs" value="50" {% if request.GET.per_page == "50" %}selected{% endif %}>50 por página</option>
                <option class="text-xs" value="100" {% if request.GET.per_page == "100" %}selected{% endif %}>100 por página</option>
            </select>
        </div>
    </div>
    
    <div class=" overflow-x-auto ">
        <div id="spinner" class="loader htmx-indicator mb-1">   </div>
            
        <table class="p-1" style="width: 100%;">
                <tr>
                    <td class="p-1">
                        <input type="text" name="N_Circuito" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar N. Circuito" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="Data_Rate" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Data Rate" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="User_Cct" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Cliente" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="Estado" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Estado" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="Entidade_PTR1" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Entidade PTR1" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="Morada_PTR1" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Morada PTR1" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                    <td class="p-1">
                        <input type="text" name="Entidade_PTR2" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Entidade PTR2" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </th>
                    <td class="p-1">
                        <input type="text" name="Morada_PTR2" class="text-xs w-full border-ipt-main rounded-sm" placeholder="Pesquisar Morada PTR2" hx-post="{% url 'lista_cct' %}" hx-target="#lista_circuitos" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner" />
                    </td>
                </tr>
            </table>
            
            {% include 'partials/tabela_cct.html' %}
   
    </div>
    <div class="mt-3 flex justify-center space-x-2">
  
</div>

 




</form>

<script src="{% static 'js/jquery.min.js'%}" type="text/javascript"></script>


{% endblock %}