{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}

<div>
    {% include 'partials/modal_details.html' %}
    <!--  Detalhes do Serviço  
      mover a div 'detalhe_servico' para um ficheiro partials/detalhe.html e colocar o respectivo include -->
    <div class="overflow-x-auto" id="detalhe_servico">
        <div class="grid grid-cols-2 rounded-b-lg gap-1.5">
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">ISID</span>
                </label>
                {{ servico.ISID }}
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">ISID Name</span>
                </label>
                {{ servico.ISID_name }}
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">Service Type</span>
                </label>
                {{ servico.Service_type }}    
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">MUX Mode</span>
                </label>
                {{ servico.Mux_mode }}
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">Connect Type</span>
                </label>
                {{ servico.Connect_type }}
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">VLAN Translation</span>
                </label>
                {{ servico.VLAN_translation }}
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">Cliente</span>
                </label>
                {{ servico.Cliente }} 
            </div>
            <div class="col-span-1 p-1">
                <label class="label">
                    <span class="label-text">Estado</span>
                </label>
                {{ servico.estado }}
            </div>
            <div class="col-span-2 p-1">
                <label class="label">
                    <span class="label-text">Notas</span>
                </label>    
                {{ servico.Notas }}
            </div>
        </div>
    </div>
    <!-- Lista de treminações para este serviço -->
    <div class="overflow-x-auto" id="lista_term">
        {% include 'partials/lista_terminacoes.html' %}
    </div>
<div class="flex justify-center m-5">
    {{servico.id}}
    <button id="defaultModalButton" data-modal-target="modal_details" data-modal-toggle="modal_details" hx-target="#modal_form" hx-get="{% url 'edit_sdados' servico.id %}" hx-swap="innnerHtml" class="btn btn-primary bg-ipt-main m-2 p-2 rounded-md" type="button">
    Editar Serviço
    </button>
    <div class="flex justify-center m-5">
    <button id="defaultModalButton" data-modal-target="modal_detail" data-modal-toggle="modal_details" hx-target="#modal_form" hx-get="{% url 'criar_terminacao' servico.id %}" hx-swap="innnerHtml" class="btn btn-primary bg-ipt-main m-2 p-2 rounded-md" type="button">
    Criar Terminação
    </button>
</div>
</div>


</div>

{% endblock %}