<div id="list_lfo">
<table class="display compact order-column table-fixed" style="width:100%">
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "referencia", "direction": "{% if sort == "referencia" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Referência
                            {% if sort == "referencia" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "cliente", "direction": "{% if sort == "cliente" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Cliente
                            {% if sort == "cliente" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "dist_optica", "direction": "{% if sort == "dist_optica" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Distância Ótica (Km)
                            {% if sort == "dist_optica" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "dist_iet", "direction": "{% if sort == "dist_iet" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Distância IET (Km)
                            {% if sort == "dist_iet" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "data_pedido", "direction": "{% if sort == "data_pedido" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Data Pedido
                            {% if sort == "data_pedido" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "data_entrega", "direction": "{% if sort == "data_entrega" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Data Entrega
                            {% if sort == "data_entrega" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "estado", "direction": "{% if sort == "estado" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Estado
                            {% if sort == "estado" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "local_a", "direction": "{% if sort == "local_a" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Local A
                            {% if sort == "local_a" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "local_b", "direction": "{% if sort == "local_b" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Local B
                            {% if sort == "local_b" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                    <th class="text-xs bg-ipt-main text-white px-6 py-1">
                        <button
                            type="button"
                            class="text-xs px-2 py-1 hover:text-ipp-main"
                            hx-post="{% url 'lista_ligafo' %}"
                            hx-include="#lfo-form"
                            hx-target="#list_lfo"
                            hx-push-url="true"
                            hx-vals='{"sort": "observacoes", "direction": "{% if sort == "observacoes" and direction == "asc" %}desc{% else %}asc{% endif %}"}'
                            >
                            Observações
                            {% if sort == "observacoes" %}
                                {% if direction == "asc" %}▲{% else %}▼{% endif %}
                            {% endif %}
                        </button>
                    </th>
                </tr>

            </thead>



            <tbody>
                {% if lligafo %}
                    {% for lfo in lligafo %}
                        {% if "Activo" in lfo.dist_optica %}
                            <tr class=" bg-white text-gray-950 border-b border-gray-200 hover:bg-green-200">
                        {% else %}
                            <tr class=" bg-white text-gray-700 border-b border-gray-200 hover:bg-slate-200">
                        {% endif %}
                                <td scope="row" class="px-3 py-1 text-xs whitespace-nowrap">

                                    <a class="btn btn-success btn-sm" href="{% url 'editar_ligafo' lfo.id %}?next=lista_ligafo">{{lfo.referencia}}</a>
                                            
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.cliente}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.dist_optica|floatformat:3}}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.dist_iet|floatformat:3}}
                                </td>                        
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.data_pedido|date:"c"}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.data_entrega|date:"c"}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {% if lfo.estado == "A" %}
                                        Activo
                                    {% elif lfo.estado == "I" %}
                                        Em Instalação
                                    {% elif lfo.estado == "D" %}
                                        Desligado
                                    {% else %}
                                        {{lfo.estado}}
                                    {% endif %}
                                </td>
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.local_a}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.local_b}}
                                </td>                                
                                <td class="px-3 py-1 text-xs">
                                    {{lfo.observacoes}}
                                </td>                                 


                            </tr>

                            
   
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

                <div class="flex justify-center space-x-3 mt-4 mb-4">
{% if lligafo.has_previous %}
    <button
        type="button"
        hx-post="{% url 'lista_ligafo' %}"
        hx-vals='{"page": "{{ lligafo.previous_page_number }}"}'
        hx-include="#lfo-form"
        hx-target="#list_lfo"
        hx-push-url="true"
        hx-indicator="#spinner"
        class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
        style= "cursor:pointer"
    >
        &laquo;
    </button>
{% else %}
        <button
            type="button"
            hx-include="#lfo-form"
            hx-target="#list_lfo"
            hx-push-url="true"
            class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
            disabled
        >
            &laquo;
        </button>
{% endif %}

    {% for i in paginas %}
        {% if lligafo.number == i %}
            <button type="button" hx-post="{% url 'lista_ligafo' %}" hx-vals='{"page": "{{ i }}"}' hx-include="#lfo-form" hx-target="#list_lfo" hx-push-url="true" hx-indicator="#spinner" class="m-1 text-xs bg-ipt-main text-ipp-main border-ip-main hover:bg-ip-main rounded-sm p-1 border" style="cursor:pointer">
                <p class="font-bold text-ipp-main">{{ i }}</p>
            </button>
        {% else %}
            {% if i == lligafo.paginator.ELLIPSIS %}
             <button
                type="button"
                class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
            >
                {{ i }}
            </button>
            {% else %}
                <button
                    type="button"
                    hx-post="{% url 'lista_ligafo' %}"
                    hx-vals='{"page": "{{ i }}"}'
                    hx-include="#lfo-form"
                    hx-target="#list_lfo"
                    hx-push-url="true"
                    hx-indicator="#spinner"
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
                    style= "cursor:pointer"
                >
                    {{i}}
                </button>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if lligafo.has_next %}
                <button
                    type="button"
                    hx-post="{% url 'lista_ligafo' %}"
                    hx-include="#lfo-form"
                    hx-target="#list_lfo"
                    hx-push-url="true"
                    hx-indicator="#spinner"
                    hx-vals='{"page": "{{ lligafo.next_page_number }}"}'
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main hover:bg-ip-main rounded-sm p-1 border"
                    style= "cursor:pointer"
                >
                    &raquo;
                </button>
    {% else %}
                <button
                    type="button"

                    hx-include="#lfo-form"
                    hx-target="#list_lfo"
                    hx-push-url="true"
                    class="m-1 text-xs bg-ipt-main text-white border-ip-main rounded-sm p-1 border"
                    disabled
                >
                    &raquo;
                </button>
    {% endif %}
</div>
    </div>