<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Data</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.8/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body class="p-4 bg-gray-100">
    {% block content %}{% endblock %}

    <!-- Modal -->
    <dialog id="modal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="document.getElementById('modal').close()">✕</button>
            </form>
            <div id="modal-body"></div>
        </div>
    </dialog>

<script>
document.body.addEventListener('htmx:afterSwap', (e) => {
    if (e.detail.target.id === "modal-body") {
        document.getElementById("modal").showModal();
    }
});

document.body.addEventListener('htmx:afterOnLoad', function(evt) {
    if (evt.detail.xhr.getResponseHeader("HX-Trigger") === "closeModal") {
        document.getElementById("modal").close();
    }
});
</script>
</body>
</html>