{% extends 'app/base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-4">List of Active Services</h2>
<table class="table w-full bg-white">
    <thead>
        <tr><th>ISID</th><th>Name</th><th>Service Type</th></tr>
    </thead>
    <tbody>
    {% for r in records %}
    <tr class="hover">
        <td><a class="text-blue-500 hover:underline" href="{% url 'sdados_detail' r.pk %}">{{ r.ISID }}</a></td>
        <td>{{ r.ISID_name }}</td>
        <td>{{ r.Service_type }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}