<form method="post" class="w-full">
    {% csrf_token %}
 
 <div class="w-full border rounded-lg p-1 gap-1.5 pb-1.5">
        <h2 class="from-group text-2xl text-center font-semibold text-gray-700 mb-6">Editar o serviço</h2>
        <input name="id" type="hidden" value="{{form.id.value}}">
        <div class=" grid grid-cols-3 rounded-b-lg  gap-1.5">
            <div class="col-span-1 p-1">
                <label for="iISID" class="block mb-1 text-xs font-medium text-gray-900">ISID</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                </div>
                <input type="text" id="iISID" name="ISID" value="{{form.ISID.value}}" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
            </div>  
            <div class="col-span-1 p-1">
                <label for="iIDID_name" class="block mb-1 text-xs font-medium text-gray-900">ISID Name</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                </div>
                <input type="text" id="iIDID_name" name="ISID_name" value="{{form.ISID_name.value}}" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
            </div>     
            
            <div class="col-span-1 p-1">
                <label for="iservice_type"
                        class="block mb-1 text-sm font-medium text-gray-900">Service type</label>
                    <select name="Service_type" id="iservice_type"
                        class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="P" {% if form.Service_type.value == "A" %} selected {% endif %}>Pseudowire</option>
                        <option value="S" {% if form.Service_type.value == "S" %} selected {% endif %}>Switched</option>
                        <option value="T" {% if form.Service_type.value == "T" %} selected {% endif %}>Transparent</option>
                        <option value="N" {% if form.Service_type.value == "N" %} selected {% endif %}>None</option>
                    </select>
            </div>  
            <div class="col-span-1 p-1">
                <label for="imux_type" class="block mb-1 text-sm font-medium text-gray-900">Mux type</label>
                <select name="Mux_type" id="imux_type"
                    class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    <option value="OTO" {% if form.Mux_type.value == "OTO" %} selected {% endif %}>One-to-one</option>
                    <option value="MTM" {% if form.Mux_type.value == "MTM" %} selected {% endif %}>Many-to-many</option>
                    <option value="N" {% if form.Mux_type.value == "N" %} selected {% endif %}>None</option>
                </select>
            </div>   
            <div class="col-span-1 p-1">
                <label for="iconnect_type" class="block mb-1 text-sm font-medium text-gray-900">Estado do circuito</label>
                <select name="Connect_type" id="iconnect_type"
                    class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    <option value="PTP" {% if form.Connect_type.value == "PTP" %} selected {% endif %}>Point-to-point</option>
                    <option value="MTM" {% if form.Connect_type.value == "MTM" %} selected {% endif %}>Multipoint-to-multipoint</option>
                    <option value="P" {% if form.Connect_type.value == "P" %} selected {% endif %}>Pseudowire</option>                    
                    <option value="N" {% if form.Connect_type.value == "N" %} selected {% endif %}>None</option>
                </select>
            </div>
            <div class="col-span-1 p-1">
                <label for="ivlan_translation" class="block mb-1 text-sm font-medium text-gray-900">Estado do circuito</label>
                <select name="VLAN_translation" id="ivlan_translation"
                    class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    <option value="Yes" {% if form.VLAN_translation.value == "Yes" %} selected {% endif %}>Yes</option>
                    <option value="No" {% if form.VLAN_translation.value == "No" %} selected {% endif %}>No</option>
                    <option value="N" {% if form.VLAN_translation.value == "N" %} selected {% endif %}>None</option>
                </select>
            </div>
            <div class="col-span-1 p-1">
                <label for="iservice_status" class="block mb-1 text-sm font-medium text-gray-900">Estado do circuito</label>
                <select name="Service_status" id="iservice_status"
                    class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    <option value="A" {% if form.service_status.value == "A" %} selected {% endif %}>Activo</option>
                    <option value="I" {% if form.service_status.value == "I" %} selected {% endif %}>Em Instalação</option>
                    <option value="D" {% if form.service_status.value == "D" %} selected {% endif %}>Desligado</option>
                </select>
            </div>            

            <div class="col-span-1 p-1">
                <label for="icliente" class="block mb-1 text-xs font-medium text-gray-900">SAP</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                </div>
                <input type="text" id="icliente" name="Cliente" value="{{form.Cliente.value}}" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
            </div>   
        </div>
        <div class="col-span-3 px-2 gap-1.5">
            <label for="inotas" name="lNotas" class="block mb-1 text-xs font-medium text-gray-900">Notas</label>
            <textarea rows="3" type="text" id="inotas" name="Notas" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm mb-2 focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main" />{{form.Notas.value}}</textarea>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" hx-post="{% url 'edit_sdados' %}" data-modal-toggle="modal_details" class="btn btn-primary">Gravar</button>
        <a href="{% url 'lista_sdados' %}" class="btn btn-secondary">Cancel</a>
    </div>

</form>