{% extends 'base.html' %}

{% load tailwind_filters %}

{% block content %}
<!-- Form Container -->
    <div class="container overscroll-y-auto mx-auto p-4 bg-white rounded-lg shadow-lg mt-8">
     <div class="overflow-y-auto scroll-m-0">
        <!-- Form -->
        <form   method="POST">
            {% csrf_token %}  
            
            <h1 class="from-group text-2xl text-center font-semibold text-gray-700 mb-6">Criar novo serviço</h1>

            <!-- General Fields (Full-width) -->
             <div class="border rounded-lg p-1 gap-1.5">

            <div class=" grid grid-cols-2 rounded-b-lg  gap-1.5">
                <div class="col-span-1 p-1">
                    <label for="ref" class="block mb-1 text-xs font-medium text-gray-900">ISID:</label>
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    </div>
                    <input type="text" id="ref" name="ISID" placeholder="Novo ISID" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                </div>  
                <div class="col-span-1 p-1">
                    <label for="cli" class="block mb-1 text-xs font-medium text-gray-900">ISID Name:</label>
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    </div>
                    <input type="text" id="cli" name="ISID_name" placeholder="ISID name" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                </div>                 
                <div class="col-span-1 p-1">
                    <label for="servtype" name="Service_type" class="block mb-1 text-xs font-medium text-gray-900">Service Type</label>
                    <select name="Service_type" id="servtype" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="P" >Pseudowire</option>
                        <option value="S" >Switched</option>
                        <option value="T" >Transparent</option>
                        <option value="N" selected >none</option>
                    </select>
                </div>             
                <div class="col-span-1 p-1">
                    <label for="muxmode" name="MUX_mode" class="block mb-1 text-xs font-medium text-gray-900">MUX Mode</label>
                    <select name="MUX_mode" id="muxmode" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="OTO" >One-to-one</option>
                        <option value="MTM" >Many-to-many</option>
                        <option value="N" selected >none</option>
                    </select>
                </div>  

            </div>

            <div class=" grid grid-cols-2 rounded-lg py-1 gap-1.5">
                <div class="col-span-1 p-1">
                    <label for="conntype" name="Connect_type" class="block mb-1 text-xs font-medium text-gray-900">Connect Type</label>
                    <select name="Connect_type" id="conntype" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="PTP" >Point-to-point</option>
                        <option value="MTM" >Multipoint-to-multipoint</option>
                        <option value="P" >Pseudowire</option>
                        <option value="N" selected >none</option>
                    </select>
                </div>           
                <div class="col-span-1 p-1">
                    <label for="vlantrans" name="VLAN_translation" class="block mb-1 text-xs font-medium text-gray-900">VLAN Translation</label>
                    <select name="VLAN_translation" id="vlantrans" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="Yes" >Yes</option>
                        <option value="No" >No</option>
                        <option value="N" selected >none</option>
                    </select>
                </div>

            </div>
            <div class=" grid grid-cols-2 rounded-b-lg py-1 gap-1.5">
                <div class="col-span-1 p-1">
                    <label for="cli" class="block mb-1 text-xs font-medium text-gray-900">Cliente:</label>
                    <input type="text" id="cli" name="Cliente" placeholder="Cliente" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                </div>           
                <div class="col-span-1 p-1">
                    <label for="status" name="Service_status" class="block mb-1 text-xs font-medium text-gray-900">Service Status</label>
                    <select name="Service_status" id="status" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="A" >Activo</option>
                        <option value="I" selected>Em configuração</option>
                        <option value="D" >Desligado</option>
                    </select>
                </div>
                <div class="col-span-2 px-2 gap-1.5">
                    <label for="notas" name="Notas" class="block mb-1 text-xs font-medium text-gray-900">Notas</label>
                    <textarea rows="3" type="text" id="notas" name="Notas" class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm mb-2 focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main" placeholder="" />
                    </textarea>
                </div>
            </div>
            </div>

            <!-- Two-column group of fields -->
            
            
            <!-- Submit Button (Full-width) -->
            <div class="w-full flex justify-end">
                <button type="submit" value="Submit" class="m-2 px-6 py-2 bg-ipt-main text-white rounded-md hover:bg-ip-main">Gravar</button>
                <button type="button" class="m-2 px-6 py-2 bg-ipt-main text-white rounded-md hover:bg-ip-main"><a href="#" onclick="history.go(-1)" >Cancelar</a></button>
                
            </div>
        </form>
     </div>
    </div>
{% endblock content %}