@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker/";
@source "../node_modules/simple-datatables/";



@theme {
  --color-ipt-main: #00AAF8; 
  --color-ip-main: #1E9D8B;
  --color-ipe-main: #698392;
  --color-ipp-main: #7F3B3A;
  --color-gil-main: #CF7600;
}

