{% extends 'base.html' %}
{% load cmain_extras %}

{% load tailwind_filters %}

{% block content %}

<!-- Form Container -->
<div
    class="container overscroll-y-auto mx-auto p-4 bg-white rounded-lg shadow-lg mt-8">
    <div class="overflow-y-auto scroll-m-0">
        <!-- Form -->
        <form method="POST">
            {% csrf_token %}

            <h1
                class="from-group text-2xl text-center font-semibold text-gray-700 mb-6">{{form.referencia.value}}</h1>
            <input type="hidden" name="referencia"
                value="{{form.referencia.value}}">
            <!-- General Fields (Full-width) -->
            <div class="border rounded-t-lg p-1">
                <div class="pt-2">
                    <div class="relative pb-2">
                        <input type="text" id="cli" name="cliente"
                            value="{{form.cliente.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="cli"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Cliente:</label>
                    </div>
                </div>

                <div class=" grid grid-cols-2 rounded-b-lg py-1 gap-1.5">
                    <div class="col-span-1 p-1">
                        <label for="distiet"
                            class="block mb-1 text-xs font-medium text-gray-900">Distância
                            ITE50 (Km):</label>
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        </div>
                        <input type="number" id="datainst" name="dist_iet"
                            pattern="\d{1,3}\.\d{3}"
                            value="{{form.dist_iet.value}}"
                            class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    </div>
                    <div class="col-span-1 p-1">
                        <label for="distopt"
                            class="block mb-1 text-xs font-medium text-gray-900">Distância
                            óptica (Km):</label>
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        </div>
                        <input type="number" id="distopt" name="dist_optica"
                            pattern="\d{1,3}\.\d{3}"
                            value="{{form.dist_optica.value}}"
                            class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    </div>

                </div>

                <div class=" grid grid-cols-2 rounded-b-lg py-1 gap-1.5">
                    <div class="col-span-1 p-1">
                        <label for="datainst"
                            class="block mb-1 text-xs font-medium text-gray-900">Data
                            Encomenda:</label>
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        </div>
                        <input type="date" id="datainst" name="data_pedido"
                            value="{{form.data_pedido.value|date:"c"}}"
                            class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    </div>
                    <div class="col-span-1 p-1">
                        <label for="dataactiv"
                            class="block mb-1 text-xs font-medium text-gray-900">Data
                            Entrega:</label>
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        </div>
                        <input type="date" id="dataactiv" name="data_entrega"
                            value="{{form.data_entrega.value|date:"c"}}"
                            class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm  focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                    </div>

                </div>
            </div>

            <!-- Two-column group of fields -->
            <div class=" grid grid-cols-2 rounded-b-lg py-1.5 gap-1.5">
                <div class="col-span-1 border p-2">
                    <div class="relative pb-2">
                        <input type="text" id="locala" name="local_a"
                            value="{{form.local_a.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="locala"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Local
                            A</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="equipa" name="eauipa_a"
                            value="{{form.equipa_a.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="equipa"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Equipamento
                            local A</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="slota" name="slot_a"
                            value="{{form.slot_a.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="slota"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Slot
                            equip. A</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="portaa" name="porta_a"
                            value="{{form.porta_a.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="portaa"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Porta
                            equip. A</label>
                    </div>
                </div>

                <div class="col-span-1 border p-2">
                    <div class="relative pb-2">
                        <input type="text" id="localb" name="local_b"
                            value="{{form.local_b.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="localb"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Local
                            B</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="equipab" name="equipa_b"
                            value="{{form.equipa_b.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="equipab"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Equipamento
                            local B</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="slotb" name="slot_b"
                            value="{{form.slot_b.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="slotb"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Slot
                            equip. B</label>
                    </div>
                    <div class="relative pb-2">
                        <input type="text" id="portab" name="porta_b"
                            value="{{form.porta_b.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="portab"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Porta
                            equip. B</label>
                    </div>

                </div>
            </div>
            <div class=" grid grid-cols-2 border rounded-b-lg">
                <div class="col-span-2 px-2 pt-2">
                    <label for="estadol" name="estado"
                        class="block mb-1 text-sm font-medium text-gray-900">Estado
                        do circuito</label>
                    <select name="estado" id="estadol"
                        class="block w-full p-1 mb-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main">
                        <option value="A" {% if form.estado.value == "A" %}
                            selected {% endif %}>Activo</option>
                        <option value="I" {% if form.estado.value == "I" %}
                            selected {% endif %}>Em Instalação</option>
                        <option value="D" {% if form.estado.value == "D" %}
                            selected {% endif %}>Desligado</option>
                    </select>

                    <div class="relative pb-2">
                        <input type="text" id="enc" name="encomenda"
                            value="{{form.encomenda.value}}"
                            class="block px-2.5 pb-1 pt-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="enc"
                            class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Encomenda:</label>
                    </div>
                    <label for="Outrasref" name="observacoes"
                        value="{{form.observacoes.value}}"
                        class="block mb-1 text-sm font-medium text-gray-900">Observações</label>
                    <textarea rows="4" type="text" id="Outrasref" name="observacoes"
                        value="{{form.observacoes.value}}"
                        class="block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm mb-2 focus:outline-none focus:ring-0 focus:ring-ipt-main focus:border-ipt-main"
                        placeholder=" " /></textarea>

                </div>
            </div>
            <!-- Submit Button (Full-width) -->
            <div class="w-full flex justify-end">
                {% if request.user|has_group:"FOE" %}
                <button type="submit" value="Submit"
                    class="m-2 px-6 py-2 bg-ipt-main text-white rounded-md hover:bg-ip-main">Gravar</button>
                {% endif %}
                <button type="button"
                    class="m-2 px-6 py-2 bg-ipt-main text-white rounded-md hover:bg-ip-main"><a
                        href="#" onclick="history.go(-1)">Cancelar</a></button>

            </div>
        </form>
    </div>
</div>
{% endblock content %}