{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cadastro de Circuitos</title>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <link href="{% static 'iptelecom.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body class="bg-primary bg-opacity-65">
        {% if user.is_authenticated %}
            {% include 'navbar.html' %}
        {% endif %}
        {% block content %}

        {% endblock content %}
       
    </body>

</html>