<table class="table w-full bg-white">
    <thead>
        <tr><th>Local</th><th>Equipamento</th><th>SAP</th><th></th></tr>
    </thead>
    <tbody>
    {% for term in terms %}
    <tr class="hover">
        <td>{{ term.Local }}</td>
        <td>{{ term.Equipamento }}</td>
        <td>{{ term.SAP }}</td>
        <td>
            <button hx-get="{% url 'sterm_edit' term.pk %}" hx-target="#modal-body" class="btn btn-sm btn-info">Edit</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>